### NOTE: This file determines what files cannot be committed to Git repositories, it is not relevant to the deployed website.

# Jekyll stuff
/_site
.jekyll-metadata
.jekyll-cache
/gemfiles/
/vendor/

# Ruby
Gemfile.lock
.ruby-version

# npm
node_modules

# text editors / IDE
.vscode/

# OS
.DS_Store
