{% assign iconSize = 48 %}

<footer id="site-footer">
  <div id="site-social-links">
    <span>
      <a
        href="https://twitter.com/{{site.twitter.username}}"
        title="@{{site.twitter.username}}"
      >
        <img
          src="{{ 'content/icons/twitter.svg' | relative_url }}"
          alt="Twitter - @{{site.twitter.username}}"
          height="{{iconSize}}"
          width="{{iconSize}}"
        />
      </a>
    </span>
    <span>
      <a
        href="https://instagram.com/{{site.instagram.username}}"
        title="@{{site.instagram.username}}"
      >
        <img
          src="{{ 'content/icons/instagram.svg' | relative_url }}"
          alt="Instagram - @{{site.instagram.username}}"
          height="{{iconSize}}"
          width="{{iconSize}}"
        />
      </a>
    </span>
    <span>
      <a href="mailto:{{site.email}}" title="{{site.email}}">
        <img
          src="{{ 'content/icons/envelope.svg' | relative_url }}"
          alt="Email - {{site.email}}"
          height="{{iconSize}}"
          width="{{iconSize}}"
        />
      </a>
    </span>
    <span>
      <a href="{{ 'feed.xml' | relative_url }}" title="RSS Feed">
        <img
          src="{{ 'content/icons/rss.svg' | relative_url }}"
          alt="RSS Feed"
          height="{{iconSize}}"
          width="{{iconSize}}"
        />
      </a>
    </span>
  </div>
  <a id="site-email" href="mailto:{{site.email}}">{{site.email}}</a>
</footer>
