<header id="site-header">
  <div id="header-left">
    <span id="header-real-name">William Nunn</span>
    <span id="header-pseudonym">The Voice That Cooks</span>
  </div>
  <nav id="site-nav">
    <ul>
      {% for p in site.data.header_nav -%}
      <li
        {%- if p.link == '/' -%}
          {% if page.url == p.link %} class="current-nav-link" {%- endif -%}
        {% else -%}
          {% if page.url contains p.link %} class="current-nav-link" {%- endif -%}
        {% endif -%}
      >
        <a 
          href="{{ p.link | relative_url }}" 
          title="{{p.title}}"
          {% if p.openNewTab %} target="_blank" rel="noopener noreferrer" {%- endif -%}
        >
          {{ p.title }}
        </a>
      </li>
      {% endfor -%}
    </ul>
  </nav>
</header>
