// the higher the number, the faster the sword translates itself along the y-axis. if this value is too low, the sword won't disappear
$offscreen-amount: 2em;

@keyframes middle-saber-in {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 360deg);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg)
      translate3d($offscreen-amount, 0%, 0);
  }
}

@keyframes middle-saber-out {
  0% {
    transform: translate3d(-50%, -$offscreen-amount, 0) rotate3d(0, 0, 1, -90deg);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
