/********************** 
VARIABLES
**********************/

$background-color: #151515; // also used as the stroke or fill property for SVGs
$text-color: #eaeaea;
$primary-color: #f26500; // also used in _config.yml
$link-color: #b5e853;
$background-color-formatting: #000000;

// breakpoints assume 'max-width' - i.e. a "medium" device will be from 900 to 1200 px
$breakpoints-xs: 600px;
$breakpoints-small: 900px;
$breakpoints-medium: 1200px;
$breakpoints-large: 1536px;

$breakpoints-nav: 768px;
$nav-transition-height: 300px; // probably needs to be rountinely increased if more nav links are added

/****************
GENERIC
****************/

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  color: $text-color;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -o-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
}

hr {
  // IOS seems to override display: none, so don't rely on <hr> for strictly semantic purposes
  border-width: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: 0.25em double $primary-color;
  padding-left: 1em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

pre {
  background-color: $background-color-formatting;
  padding: 0.25em;
  overflow: auto;
  overflow-y: hidden;
}

// Any changes here have to be able to work with iframe code c&p'd from various websites. Some have sane default width/height settings, some don't.
// We can reasonably make the width/horizontal positioning of all iframes good from here, but height will usually have to be modified from content pages.
iframe {
  border: none;
  max-width: 100%;
  align-self: center;
  @media (min-width: $breakpoints-medium) {
    max-width: $breakpoints-medium;
  }
}

/*******************
MARKDOWN CONTENT
********************/
// The most important block; everything here should allow for easy editing of content markdown files, without being concerned with HTML-specific markup.
#content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  p {
    margin-top: 0;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  a {
    color: $link-color;
  }
  a:hover {
    text-decoration: underline;
  }
  opacity: 0.9;
  min-height: 100%;
  padding: 0.75em;
  @supports (padding-left: env(safe-area-inset-left)) {
    padding-left: calc(env(safe-area-inset-left, 0) + 0.75em);
  }
  @supports (padding-right: env(safe-area-inset-right)) {
    padding-right: calc(env(safe-area-inset-right, 0) + 0.75em);
  }
  width: 100%;
  max-width: $breakpoints-medium;
  background-color: $background-color;
  border-radius: 1em;
  margin: 3em auto;
  flex: 1 0 auto;
}

/********************************
HERO IMAGE - even works on IOS! 
********************************/

#site-look-at-this-guy {
  background-image: url("/content/images/headshot.jpeg");
  background-repeat: no-repeat;
  background-position: center 12.5%;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -9001; // WHAT?! -9000?
  @media (orientation: landscape) {
    background-size: 100vw 100vh;
  }
}

/********************************
 HEADER 
 *******************************/

#site-header {
  background-color: $primary-color;
  color: $background-color;
  opacity: 0.9;
  padding: 0.66em 0.33em 0.66em 0.33em;
  border-radius: 0 0 1em 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  @supports (padding-top: env(safe-area-inset-top)) {
    padding-top: calc(env(safe-area-inset-top, 0) + 0.66em);
  }
  @supports (padding-left: env(safe-area-inset-left)) {
    padding-left: calc(env(safe-area-inset-left, 0) + 0.33em);
  }
  @supports (padding-right: env(safe-area-inset-right)) {
    padding-right: calc(env(safe-area-inset-right, 0) + 0.33em);
  }

  h1 {
    a {
      display: flex;
      flex-direction: column;
      color: unset;
    }
    font-size: unset;
    font-weight: unset;
    margin: unset;
    #header-real-name {
      font-size: 1.5em;
      font-weight: 400;
    }
    #header-pseudonym {
      font-style: oblique;
    }
  }
  #site-nav-toggle {
    position: absolute;
    top: -100%;
    display: none; // hide tabindex for larger widths
    &:checked {
      ~ label span {
        background-color: transparent;
        &::before {
          transform: rotate(-45deg);
          top: 0;
        }
        &::after {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
  }
  #site-nav-toggle + label {
    display: none;
    align-items: center;
    cursor: pointer;
    background-color: $background-color;
    border-radius: 8px;
    height: 1.25em;
    padding: 0.2em;

    span {
      background-color: $primary-color;
      display: block;
      height: 4px;
      position: relative;
      transition: background-color 0.2s ease-out;
      width: 36px;
      &::before,
      &::after {
        background-color: $primary-color;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
      &::before {
        top: 10px;
      }
      &::after {
        top: -10px;
      }
    }

    &:hover {
      background-color: #{$background-color}88;
    }
  }
  #site-nav-toggle:focus + label {
    outline: 2px solid $text-color;
  }
  ul {
    list-style-type: none;
    display: block;
    padding-left: 0;
    margin: 0;
    clear: none;
    float: right;
    overflow: hidden;
    li {
      float: left;
    }
    a {
      margin: 3px 0.25em 0;
      padding: 0.5em 1em;
      border: 2px solid $background-color;
      display: block;
    }
    a:hover,
    a:focus {
      background-color: #{$background-color}aa;
      color: #{$primary-color}aa;
    }
    a:focus {
      border: none;
    }
  }
  @media print {
    ul {
      display: none;
    }
  }
  @media screen and (max-width: $breakpoints-nav) {
    #site-nav-toggle {
      display: block;
    }
    #site-nav-toggle + label {
      display: inline-flex;
    }
    ul {
      flex-basis: 100%;
      max-height: 0;
      visibility: hidden;
      transition: all 0.5s ease-out;
      li {
        float: none;
        text-align: center;
        margin: 0.5em 0;
      }
      a {
        margin: 0 2em;
      }
    }
    #site-nav-toggle:checked ~ ul {
      max-height: $nav-transition-height;
      visibility: visible;
    }
  }

  a {
    color: $background-color;
    border-radius: 0.5em;
  }
  .current-nav-link {
    a {
      background-color: $background-color;
      color: $primary-color;
    }
  }
}

/*****************************************
FOOTER
*****************************************/

#site-footer {
  background-color: $primary-color;
  color: $background-color;
  opacity: 0.9;
  padding: 0.66em 0.33em 0.66em 0.33em;
  border-radius: 1em 1em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: $breakpoints-small) {
    flex-direction: column;
  }
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: calc(env(safe-area-inset-bottom, 0) + 0.66em);
  }
  @supports (padding-left: env(safe-area-inset-left)) {
    padding-left: calc(env(safe-area-inset-left, 0) + 0.33em);
  }
  @supports (padding-right: env(safe-area-inset-right)) {
    padding-right: calc(env(safe-area-inset-right, 0) + 0.33em);
  }
}

#site-social-links {
  display: flex;
  justify-content: center;
  a {
    margin: 0 1em;
  }
}

#site-email {
  color: $background-color;
}

#site-email:hover {
  text-decoration: underline;
}

/************************* 
CLASSES 
*************************/

.center {
  max-width: $breakpoints-medium;
  margin: 0 auto;
}

// add this class to any link element associated with an iframe
.iframe-backup-link {
  font-size: 0.75em;
}
