/******* Variables ********/

$background-color: #171820;
$text-color: #dcd6de;
$primary-color: #aa3d01;
$link-color: #b5e853;

// breakpoints assume 'max-width' - i.e. a "medium" device will be from 900 to 1200 px
$breakpoints-xs: 600px;
$breakpoints-small: 900px;
$breakpoints-medium: 1200px;
$breakpoints-large: 1536px;

/******* Generic *******/

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.15em;
  display: flex;
  flex-direction: column;
  color: $text-color;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -o-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  background-image: url("/content/images/headshot.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// Any changes here have to be able to work with iframe code c&p'd from various websites. Some have sane default width/height settings, some don't.
// We can reasonably make the width/horizontal positioning of all iframes good from here, but height will usually have to be modified from content pages.
iframe {
  border: none;
  min-width: 50vw;
  margin: 36px 0;
  align-self: center;
  @media screen and (min-width: $breakpoints-medium) {
    min-width: unset;
    max-width: $breakpoints-medium;
  }
}

// The most important block; everything here should allow for easy editing of content markdown files, without being concerned with HTML-specific markup.
#content {
  img {
    margin: 0 auto;
    display: block;
  }
  a {
    color: $link-color;
  }
  opacity: 0.9;
  min-height: 100%;
  padding: 18px;
  width: calc(100% - 36px); // 100% - padding * 2
  max-width: $breakpoints-medium;
  background-color: $background-color;
  flex: 1 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/******* HEADER *******/

#site-header {
  background-color: $primary-color;
  color: $background-color;
  padding: 16px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 24px 24px;
  @media screen and (max-width: $breakpoints-small) {
    flex-direction: column;
  }
  @media screen and (max-width: ($breakpoints-medium + 84px)) {
    border-radius: 0;
  }
}

#header-left {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpoints-small) {
    margin: 1em 0;
  }
}

#header-real-name {
  font-size: 36px;
  font-weight: 400;
}

#header-pseudonym {
  font-style: oblique;
}

#site-nav {
  @media screen and (max-width: $breakpoints-small) {
    // site nav should be in the center if header is horizontal, and at the bottom if header is vertical
    order: 9001; // WHAT?! 9000?
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
  }
  @media screen and (max-width: $breakpoints-xs) {
    ul {
      flex-direction: column;
      margin: 0 0 12px 0;
      li {
        margin-top: 24px;
      }
    }
  }
  a {
    color: $background-color;
    padding: 0.5em 1em;
    border-radius: 12px;
  }
  .current-nav-link {
    a {
      background-color: $background-color;
      color: $primary-color;
    }
  }
}

#social-links {
  span {
    margin: 0 6px;
  }
}

/******* classes *******/

.center {
  max-width: $breakpoints-medium;
  margin: 0 auto;
}
